In [ ]:
class Ternario:
  def __init__(self, dato):
    self.dato = dato
  def lista(self):
    return [int(x) for x in str(self.dato)] 
  def inverse(self):
     return self.lista()[::-1]
  def decimal(self):
    posicion = 0
    decimal = 0
    for digito in self.inverse():
      multiplicador = 3**posicion
      decimal += int(digito) * multiplicador
      posicion += 1
    return decimal

a = Ternario("0122112")
print(a.decimal())
b = Ternario(2120121)
print(b.decimal())

473
1879

In [ ]:
class Octal:
  def __init__(self, dato):
    self.dato = dato
  def lista(self):
    return [int(x) for x in str(self.dato)] 
  def inverse(self):
     return self.lista()[::-1]
  def decimal(self):
    posicion = 0
    decimal = 0
    for digito in self.inverse():
      multiplicador = 8**posicion
      decimal += int(digito) * multiplicador
      posicion += 1
    return decimal

a = Octal("0783136")
print(a.decimal())
b = Octal(3576127)
print(b.decimal())

263774
982103